In [160]:
import os 
import pandas as pd
import numpy as np
from sklearn.preprocessing import *

In [3]:
os.getcwd()

'C:\\Users\\L S KIRAN CH\\Desktop\\Data-Science-Training-Testleaf'

In [4]:
os.chdir('DataSets')

In [6]:
os.getcwd()

'C:\\Users\\L S KIRAN CH\\Desktop\\Data-Science-Training-Testleaf\\DataSets'

In [7]:
os.listdir()

['adult.csv', 'Dataset_new1.csv', 'ign.csv', 'winequality-red.csv']

In [11]:
df = pd.read_csv('adult.csv',na_values=['#NAME?'])

In [12]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [17]:
df['income'].value_counts()

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [18]:
df['age'].value_counts()

31.0    159
34.0    139
35.0    135
25.0    135
23.0    135
30.0    135
41.0    134
37.0    130
20.0    128
46.0    126
40.0    126
43.0    125
29.0    124
28.0    124
27.0    122
47.0    122
26.0    121
32.0    120
36.0    119
24.0    118
22.0    117
38.0    117
33.0    115
44.0    115
39.0    114
45.0    111
42.0    111
19.0    109
51.0     99
21.0     98
       ...
55.0     59
57.0     55
59.0     54
56.0     52
58.0     49
61.0     48
63.0     42
60.0     41
64.0     36
65.0     29
62.0     27
66.0     23
67.0     20
68.0     18
72.0     12
75.0     12
69.0     12
71.0     10
74.0     10
70.0     10
76.0      9
90.0      7
73.0      7
77.0      5
81.0      4
80.0      3
79.0      3
78.0      2
88.0      1
82.0      1
Name: age, Length: 68, dtype: int64

In [19]:
df['income']

0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
5       <=50K
6       <=50K
7        >50K
8        >50K
9        >50K
10       >50K
11       >50K
12      <=50K
13      <=50K
14       >50K
15      <=50K
16      <=50K
17      <=50K
18      <=50K
19       >50K
20       >50K
21      <=50K
22      <=50K
23      <=50K
24      <=50K
25       >50K
26      <=50K
27       >50K
28      <=50K
29      <=50K
        ...
4970     >50K
4971    <=50K
4972     >50K
4973    <=50K
4974     >50K
4975    <=50K
4976     >50K
4977    <=50K
4978     >50K
4979    <=50K
4980    <=50K
4981    <=50K
4982    <=50K
4983     >50K
4984    <=50K
4985    <=50K
4986    <=50K
4987    <=50K
4988     >50K
4989    <=50K
4990    <=50K
4991    <=50K
4992    <=50K
4993    <=50K
4994    <=50K
4995    <=50K
4996     >50K
4997     >50K
4998    <=50K
4999    <=50K
Name: income, Length: 5000, dtype: object

In [20]:
df1 = df.copy()
df['income'] = [0 if x == '<=50k' else 1 for x in df['income']]

In [21]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,1
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1

In [25]:
x = df.drop('income',1)
y = df['income']

In [27]:
x.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [28]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: income, dtype: int64

In [30]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
age               4952 non-null float64
workclass         5000 non-null object
fnlwgt            4893 non-null float64
education         5000 non-null object
education_num     4943 non-null float64
marital_status    5000 non-null object
occupation        5000 non-null object
relationship      5000 non-null object
race              4736 non-null object
sex               4953 non-null object
capital_gain      5000 non-null int64
capital_loss      5000 non-null int64
hours_per_week    5000 non-null int64
native_country    5000 non-null object
dtypes: float64(3), int64(3), object(8)
memory usage: 547.0+ KB

In [31]:
x['education'].head()

0    Bachelors
1    Bachelors
2      HS-grad
3         11th
4    Bachelors
Name: education, dtype: object

In [32]:
x['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', '?',
       'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th'],
      dtype=object)

In [34]:
pd.get_dummies(x['education'])

,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,?,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
15,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
18,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
22,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
23,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4971,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4972,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4973,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4974,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4975,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4976,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4977,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4978,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4979,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4980,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4981,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4982,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4983,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4984,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4985,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4986,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4987,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4988,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4989,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4990,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4991,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4992,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4993,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4994,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4995,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4996,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4998,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [40]:
x['workclass'].value_counts()

Private             3435
Self-emp-not-inc     383
?                    331
Local-gov            329
State-gov            193
Self-emp-inc         182
Federal-gov          146
Without-pay            1
Name: workclass, dtype: int64

In [41]:
x.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country'],
      dtype='object')

In [42]:
x.dtypes

age               float64
workclass          object
fnlwgt            float64
education          object
education_num     float64
marital_status     object
occupation         object
relationship       object
race               object
sex                object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
dtype: object

In [44]:
print(x['age'].dtypes)

float64

In [49]:
for colname in x.columns:
    if x[colname].dtypes == 'object':
        print("Feature '{colname}' contains, unique categories of '{unique_count}'".format(colname = colname,unique_count=len(x[colname].unique())))

Feature 'workclass' contains, unique categories of '8'
Feature 'education' contains, unique categories of '17'
Feature 'marital_status' contains, unique categories of '7'
Feature 'occupation' contains, unique categories of '15'
Feature 'relationship' contains, unique categories of '6'
Feature 'race' contains, unique categories of '6'
Feature 'sex' contains, unique categories of '3'
Feature 'native_country' contains, unique categories of '40'

In [55]:
x['sex'].unique()

array(['Male', nan, 'Female'], dtype=object)

In [56]:
x['sex'].nunique()

2

In [58]:
for colname in x.columns:
    if x[colname].dtypes == 'object':
        print("Feature '{colname}' contains, unique categories of '{unique_count}'".format(colname = colname,unique_count=x[colname].nunique()))

Feature 'workclass' contains, unique categories of '8'
Feature 'education' contains, unique categories of '17'
Feature 'marital_status' contains, unique categories of '7'
Feature 'occupation' contains, unique categories of '15'
Feature 'relationship' contains, unique categories of '6'
Feature 'race' contains, unique categories of '5'
Feature 'sex' contains, unique categories of '2'
Feature 'native_country' contains, unique categories of '40'

In [64]:
x['native_country'].value_counts().sort_values(ascending=False).head(10)

United-States    4465
Mexico            104
?                  97
Canada             28
Philippines        22
Germany            22
El-Salvador        16
Puerto-Rico        16
England            16
China              15
Name: native_country, dtype: int64

In [70]:
x['native_country']= ['US' if c == 'United-States' else 'other' for c in x['native_country']]
x['native_country'].

In [71]:
x.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country'],
      dtype='object')

In [97]:
x.size

340000

In [74]:
todummy_list = ['workclass','education', 
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'native_country']

In [91]:
def get_dummy(df,todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x],prefix=x,dummy_na =False)
        df = df.drop(x,1)
        df = pd.concat([df,dummies],axis=1)
    return df

In [73]:
x1 = x.copy()

In [89]:
x=x1

In [93]:
x = get_dummy(x,todummy_list)

In [95]:
x.size

340000

In [101]:
x.isnull().sum().sort_values(ascending=False).head()

fnlwgt                 107
education_num           57
age                     48
education_Doctorate      0
education_7th-8th        0
dtype: int64

In [126]:
from sklearn.preprocessing import Imputer

In [127]:
imp = Imputer(missing_values = 'NaN',strategy='median',axis=0)

In [128]:
imp.fit(x)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

In [ ]:
#pd.DataFrame(data=Imputer_fit) #Incomplete

In [131]:
df_auto = pd.read_csv('auto.csv',index_col=0)

In [132]:
df_auto

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.00,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.00,115.0,5500.0,18,22,17450.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,17710.0
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.30,140.0,5500.0,17,20,23875.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.00,160.0,5500.0,16,22,NaN
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101.0,5800.0,23,29,16430.0
11,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101.0,5800.0,23,29,16925.0
12,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121.0,4250.0,21,28,20970.0
13,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121.0,4250.0,21,28,21105.0
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121.0,4250.0,20,25,24565.0
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182.0,5400.0,16,22,30760.0
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182.0,5400.0,16,22,41315.0
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182.0,5400.0,15,20,36880.0
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48.0,5100.0,47,53,5151.0
19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70.0,5400.0,38,43,6295.0
20,0,81.0,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70.0,5400.0,38,43,6575.0
21,1,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68.0,5500.0,37,41,5572.0
22,1,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6377.0
23,1,118.0,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102.0,5500.0,24,30,7957.0
24,1,148.0,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6229.0
25,1,148.0,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,6692.0
26,1,148.0,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68.0,5500.0,31,38,7609.0
27,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102.0,5500.0,24,30,8558.0
28,-1,110.0,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88.0,5000.0,24,30,8921.0
29,3,145.0,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.60,3.90,7.00,145.0,5000.0,19,24,12964.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,-1,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,9988.0
176,-1,65.0,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,10898.0
177,-1,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92.0,4200.0,27,32,11248.0
178,3,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161.0,5200.0,20,24,16558.0
179,3,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161.0,5200.0,19,24,15998.0
180,-1,90.0,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.20,156.0,5200.0,20,24,15690.0
181,-1,NaN,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.20,156.0,5200.0,19,24,15750.0
182,2,122.0,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.00,52.0,4800.0,37,46,7775.0
183,2,122.0,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,7975.0
184,2,94.0,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.00,52.0,4800.0,37,46,7995.0
185,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,8195.0
186,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.00,85.0,5250.0,27,34,8495.0
187,2,94.0,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.00,68.0,4500.0,37,42,9495.0
188,2,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.00,100.0,5500.0,26,32,9995.0
189,3,NaN,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.50,90.0,5500.0,24,29,11595.0
190,3,256.0,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.50,90.0,5500.0,24,29,9980.0
191,0,NaN,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.50,110.0,5500.0,19,24,13295.0
192,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.00,68.0,4500.0,33,38,13845.0
193,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.00,88.0,5500.0,25,31,12290.0
194,-2,103.0,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,12940.0
195,-1,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,13415.0
196,-2,103.0,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,24,28,15985.0
197,-1,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,24,28,16515.0
198,-2,103.0,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162.0,5100.0,17,22,18420.0
199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162.0,5100.0,17,22,18950.0
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.70,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.80,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.00,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114.0,5400.0,19,25,22625.0

In [135]:
df_auto.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [136]:
df_auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [151]:
obj_col = df_auto.select_dtypes(include = ['object'])

In [152]:
obj_col

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
5,audi,gas,std,two,sedan,fwd,front,ohc,five,mpfi
6,audi,gas,std,four,sedan,fwd,front,ohc,five,mpfi
7,audi,gas,std,four,wagon,fwd,front,ohc,five,mpfi
8,audi,gas,turbo,four,sedan,fwd,front,ohc,five,mpfi
9,audi,gas,turbo,two,hatchback,4wd,front,ohc,five,mpfi
10,bmw,gas,std,two,sedan,rwd,front,ohc,four,mpfi
11,bmw,gas,std,four,sedan,rwd,front,ohc,four,mpfi
12,bmw,gas,std,two,sedan,rwd,front,ohc,six,mpfi
13,bmw,gas,std,four,sedan,rwd,front,ohc,six,mpfi
14,bmw,gas,std,four,sedan,rwd,front,ohc,six,mpfi
15,bmw,gas,std,four,sedan,rwd,front,ohc,six,mpfi
16,bmw,gas,std,two,sedan,rwd,front,ohc,six,mpfi
17,bmw,gas,std,four,sedan,rwd,front,ohc,six,mpfi
18,chevrolet,gas,std,two,hatchback,fwd,front,l,three,2bbl
19,chevrolet,gas,std,two,hatchback,fwd,front,ohc,four,2bbl
20,chevrolet,gas,std,four,sedan,fwd,front,ohc,four,2bbl
21,dodge,gas,std,two,hatchback,fwd,front,ohc,four,2bbl
22,dodge,gas,std,two,hatchback,fwd,front,ohc,four,2bbl
23,dodge,gas,turbo,two,hatchback,fwd,front,ohc,four,mpfi
24,dodge,gas,std,four,hatchback,fwd,front,ohc,four,2bbl
25,dodge,gas,std,four,sedan,fwd,front,ohc,four,2bbl
26,dodge,gas,std,four,sedan,fwd,front,ohc,four,2bbl
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
28,dodge,gas,std,four,wagon,fwd,front,ohc,four,2bbl
29,dodge,gas,turbo,two,hatchback,fwd,front,ohc,four,mfi
...,...,...,...,...,...,...,...,...,...,...
175,toyota,gas,std,four,hatchback,fwd,front,ohc,four,mpfi
176,toyota,gas,std,four,sedan,fwd,front,ohc,four,mpfi
177,toyota,gas,std,four,hatchback,fwd,front,ohc,four,mpfi
178,toyota,gas,std,two,hatchback,rwd,front,dohc,six,mpfi
179,toyota,gas,std,two,hatchback,rwd,front,dohc,six,mpfi
180,toyota,gas,std,four,sedan,rwd,front,dohc,six,mpfi
181,toyota,gas,std,four,wagon,rwd,front,dohc,six,mpfi
182,volkswagen,diesel,std,two,sedan,fwd,front,ohc,four,idi
183,volkswagen,gas,std,two,sedan,fwd,front,ohc,four,mpfi
184,volkswagen,diesel,std,four,sedan,fwd,front,ohc,four,idi
185,volkswagen,gas,std,four,sedan,fwd,front,ohc,four,mpfi
186,volkswagen,gas,std,four,sedan,fwd,front,ohc,four,mpfi
187,volkswagen,diesel,turbo,four,sedan,fwd,front,ohc,four,idi
188,volkswagen,gas,std,four,sedan,fwd,front,ohc,four,mpfi
189,volkswagen,gas,std,two,convertible,fwd,front,ohc,four,mpfi
190,volkswagen,gas,std,two,hatchback,fwd,front,ohc,four,mpfi
191,volkswagen,gas,std,four,sedan,fwd,front,ohc,five,mpfi
192,volkswagen,diesel,turbo,four,sedan,fwd,front,ohc,four,idi
193,volkswagen,gas,std,four,wagon,fwd,front,ohc,four,mpfi
194,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
195,volvo,gas,std,four,wagon,rwd,front,ohc,four,mpfi
196,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
197,volvo,gas,std,four,wagon,rwd,front,ohc,four,mpfi
198,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
199,volvo,gas,turbo,four,wagon,rwd,front,ohc,four,mpfi
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [145]:
obj_col['num_doors'].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [153]:
obj_col = obj_col.fillna({'num_doors':'four'})

In [156]:
obj_col.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [157]:
pd.get_dummies(obj_col,columns=['body_style','drive_wheels'],prefix=['body','drive']).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,two,front,ohcv,six,mpfi,0,0,1,0,0,0,0,1
3,audi,gas,std,four,front,ohc,four,mpfi,0,0,0,1,0,0,1,0
4,audi,gas,std,four,front,ohc,five,mpfi,0,0,0,1,0,1,0,0

In [161]:
lb_style = LabelBinarizer()
lb_results = pd.DataFrame(lb_style.fit_transform(obj_col[]'body_style'])  # incomplete

In [171]:
clean_nums = {'num_doors': {'four':4,'two':2},
              'num_cylinders' : {'two':2,'three':3,'four':4,'fix':6,'five':5,'eight':8,'twelve':12,'six':6}}

In [173]:
clean_nums

{'num_cylinders': {'eight': 8,
  'five': 5,
  'fix': 6,
  'four': 4,
  'six': 6,
  'three': 3,
  'twelve': 12,
  'two': 2},
 'num_doors': {'four': 4, 'two': 2}}

In [178]:
obj_col.replace({'num_cylinders': {'six': 6}},inplace=True)

In [179]:
obj_col.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

In [180]:
obj_col.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

In [190]:
obj_col['num_doors'].value_counts()

4    116
2     89
Name: num_doors, dtype: int64

In [191]:
obj_col['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [196]:
lb_make = LabelEncoder()
obj_col['make_code'] = lb_make.fit_transform(obj_col['make'])
obj_col[['make','make_code']].head()

          make  make_code
0  alfa-romero          0
1  alfa-romero          0
2  alfa-romero          0
3         audi          1
4         audi          1

In [200]:
obj_col['engine_type'].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [201]:
obj_col['engine_type'] = np.where(obj_col['engine_type'].str.contains('ohc'),1,0)

In [202]:
obj_col['engine_type'].value_counts()

1    189
0     16
Name: engine_type, dtype: int64