# Encoding

### There are 2 ways of encoding

__*1. Label Encoding*__                                                                                                         
__*2. One hot Encoding*__

__*Import the encoding package under sklearn.preprocessing*__

In [114]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pandas as pd

In [115]:
df=pd.read_csv('Life Expectancy Data.csv')

# Taking first few rows and columns and updating the datarame to create 2 categories

df=df.iloc[:10,:5]
df.iloc[:3,2] = 'Developed'

In [116]:
df.head()

       Country  Year      Status  Life expectancy   Adult Mortality
0  Afghanistan  2015   Developed              65.0            263.0
1  Afghanistan  2014   Developed              59.9            271.0
2  Afghanistan  2013   Developed              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

__*Label Encoding*__

In [117]:

labelencoder = LabelEncoder()

df['Status'] = labelencoder.fit_transform(df['Status'])

In [118]:
df.head()

       Country  Year  Status  Life expectancy   Adult Mortality
0  Afghanistan  2015       0              65.0            263.0
1  Afghanistan  2014       0              59.9            271.0
2  Afghanistan  2013       0              59.9            268.0
3  Afghanistan  2012       1              59.5            272.0
4  Afghanistan  2011       1              59.2            275.0

__*One Hot Encoding*__

_One Hot Encoding using pandas getdummies function_

In [76]:
#onehotencoder = OneHotEncoder()

In [123]:
df=pd.read_csv('Life Expectancy Data.csv')

# Taking first few rows and columns and updating the datarame to create 2 categories

df=df.iloc[:10,:5]

df.iloc[:3,2] = 'Developed'

__ Always its better to convert the categorical variable into its pandas Categorical data type during any encoding or anytime__                                  
df['Status'] = pd.Categorical(df['Status'])

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
Country             10 non-null object
Year                10 non-null int64
Status              10 non-null object
Life expectancy     10 non-null float64
Adult Mortality     10 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 480.0+ bytes

In [131]:
# Check for the Status column data type for the difference

df['Status'] = pd.Categorical(df['Status'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
Country             10 non-null object
Year                10 non-null int64
Status              10 non-null category
Life expectancy     10 non-null float64
Adult Mortality     10 non-null float64
dtypes: category(1), float64(2), int64(1), object(1)
memory usage: 506.0+ bytes

In [125]:
#df['Status'] = pd.Categorical(df['Status'])

df_1=pd.get_dummies(df['Status'],prefix = 'Status')

In [112]:
df_1

   Status_Developed  Status_Developing
0                 1                  0
1                 1                  0
2                 1                  0
3                 0                  1
4                 0                  1
5                 0                  1
6                 0                  1
7                 0                  1
8                 0                  1
9                 0                  1

In [113]:
pd.concat([df,df_1],axis=1)

,Country,Year,Status,Life expectancy,Adult Mortality,Status_Developed,Status_Developing
0,Afghanistan,2015,Developed,65.0,263.0,1,0
1,Afghanistan,2014,Developed,59.9,271.0,1,0
2,Afghanistan,2013,Developed,59.9,268.0,1,0
3,Afghanistan,2012,Developing,59.5,272.0,0,1
4,Afghanistan,2011,Developing,59.2,275.0,0,1
5,Afghanistan,2010,Developing,58.8,279.0,0,1
6,Afghanistan,2009,Developing,58.6,281.0,0,1
7,Afghanistan,2008,Developing,58.1,287.0,0,1
8,Afghanistan,2007,Developing,57.5,295.0,0,1
9,Afghanistan,2006,Developing,57.3,295.0,0,1

__Also you can use pd.get_dummies(df) to convert all the categorical columns in one go__