## Missing Value imputation on all the integer columns can also be done using the sklearn Imputer in one Go

_The Imputer creates a numpy array which needs to be converted back to the Pandas dataframe_

In [118]:
#import the lib
from sklearn.preprocessing import Imputer

import numpy as np
import pandas as pd

In [119]:
# Read the source file and dropping the string columns
df=pd.read_csv('Life Expectancy Data.csv')

df.drop(['Country','Status'],axis=1,inplace=True)

In [120]:
df.columns

Index(['Year', 'Life expectancy ', 'Adult Mortality', 'infant deaths',
       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [121]:
df.isnull().sum()

Year                                 0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [133]:
#creating the object of the class Imputer
#replace missing values using the mean for all the columns along the axis.
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
df_1    = imputer.fit_transform(df)

In [123]:
df_1.shape

(2938, 20)

In [124]:
df_1=pd.DataFrame(df_1,columns=df.columns)

df_1.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2015.0,65.0,263.0,62.0,0.01,71.279624,65.0,1154.0,19.1,83.0,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014.0,59.9,271.0,64.0,0.01,73.523582,62.0,492.0,18.6,86.0,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013.0,59.9,268.0,66.0,0.01,73.219243,64.0,430.0,18.1,89.0,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012.0,59.5,272.0,69.0,0.01,78.184215,67.0,2787.0,17.6,93.0,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011.0,59.2,275.0,71.0,0.01,7.097109,68.0,3013.0,17.2,97.0,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [125]:
df_1.isnull().sum()

Year                               0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

## Same way this can be done for median,mode

In [122]:
#creating the object of the class Imputer
#replace missing values using the mean along the axis.
imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
df_1    = imputer.fit_transform(df)

In [126]:
#creating the object of the class Imputer
#replace missing values using the mean along the axis.
imputer = Imputer(missing_values = 'NaN', strategy = 'most_frequent', axis = 0)
df_1    = imputer.fit_transform(df)