In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.read_csv('advertising.csv', index_col=0)

In [5]:
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [9]:
df['sales'].isnull().sum()

0

In [10]:
df.shape

(200, 4)

In [11]:
df.dtypes

TV           float64
radio        float64
newspaper    float64
sales        float64
dtype: object

Assigning values for X and Y

In [12]:
x = df[['TV', 'radio', 'newspaper']]

In [13]:
y = df['sales']

In [15]:
x[:3]

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3

In [16]:
y[:3]

1    22.1
2    10.4
3     9.3
Name: sales, dtype: float64

Train test split

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 123)

In [19]:
from sklearn.linear_model import LinearRegression

In [22]:
lr = LinearRegression()

In [23]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
y_pred = lr.predict(x_test)

In [27]:
list(zip(y_test, y_pred))[:3]

[(11.4, 12.692234551204077),
 (8.8000000000000007, 6.5270927996261872),
 (14.699999999999999, 15.388585105726309)]

In [28]:
from sklearn import metrics

In [29]:
metrics.mean_squared_error(y_test, y_pred)

2.0945131884779586

In [30]:
import statsmodels.formula.api as sm

In [33]:
sm_output = sm.OLS(y, x).fit()

In [34]:
sm_output.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.982
Model:                            OLS   Adj. R-squared:                  0.982
Method:                 Least Squares   F-statistic:                     3566.
Date:                Sun, 28 Apr 2019   Prob (F-statistic):          2.43e-171
Time:                        10:40:57   Log-Likelihood:                -423.54
No. Observations:                 200   AIC:                             853.1
Df Residuals:                     197   BIC:                             863.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0538      0.001     40.507      0.000       0.051       0.056
radio          0.2222      0.009     23.595      0.000       0.204       0.241
newspaper      0.0168      0.007      2.517      0.013       0.004       0.030
==============================================================================
Omnibus:                        5.982   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.050   Jarque-Bera (JB):                7.039
Skew:                          -0.232   Prob(JB):                       0.0296
Kurtosis:                       3.794   Cond. No.                         12.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""