
### List Comprehensions

In [4]:
# Normal way of writing

cities=['Delhi','Mumbai','Chennai','Kolkata','Bangalore']

capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

In [3]:
capitalized_cities

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']

In [5]:
#Using List Comprehensions

capitalized_cities = [city.title() for city in cities]


### Conditionals in List Comprehensions

In [8]:
squares = [x**2 for x in range(9) if x % 2 == 0]

squares

[0, 4, 16, 36, 64]

In [ ]:
# Was this expected
squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]

In [9]:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
squares

[0, 4, 4, 6, 16, 8, 36, 10, 64]


# Functions

In [42]:
# Defining Functions
def interest_credited(balance):
    interest = 0.1
    a=balance
    balance+=balance*interest
    return a, balance
#print('The interest credited is : {} and your current total balance is {}'. format(interest,balance))

In [44]:
interest_credited(5000)

In [39]:
a=interest_credited(2000)
print('The interest credited is : {0} and your current total balance is {1}'. format(a[0],a[1]))

The interest credited is : 220.0 and your current total balance is 2200.0

In [40]:
# function call
interest_credited(2000)

(220.0, 2200.0)


## Print vs Return in Functions


# Return

In [108]:
# Defining Functions
def experience(exp):
    
    if exp < 3:
        return('Employee is in junior level')
        
    elif exp < 6:
        return('Employee is in Senior Role')
    
    elif exp < 9:
        return('Employee is in Lead Role')
    
    else:
        return('Employee is in Architect Role')


# Print

In [116]:
# Defining Functions
def experience(exp):
    
    if exp<3:
        print('Employee is in junior level')
        
    elif exp < 6:
        print('Employee is in Senior Role')
    
    elif exp < 9:
        print('Employee is in Lead Role')
    
    else:
        print('Employee is in Architect Role')


### Print vs Return in Functions

In [11]:
# function call
cylinder_volume(10, 3)

282.7431

In [13]:
# this prints something, but does not return anything
def show_plus_ten(num):
    print(num + 10)

# this returns something
def add_ten(num):
    return(num + 10)

print('Calling show_plus_ten...')
return_value_1 = show_plus_ten(5)
print('Done calling')
print('This function returned: {}'.format(return_value_1))

print('\nCalling add_ten...')
return_value_2 = add_ten(5)
print('Done calling')
print('This function returned: {}'.format(return_value_2))

Calling show_plus_ten...
15
Done calling
This function returned: None

Calling add_ten...
Done calling
This function returned: 15

## Lambda Expressions

_Anonymous Functions_

In [52]:
lambda x,y: x*y

In [53]:
from functools import reduce

In [86]:
list_1=list(map(lambda x:x**2,[4,5,6]))

list_2=list(filter(lambda x:x<5,[4,5,6]))

list_3=reduce(lambda x,y:x+y,[4,5,6,11])

print(list_1)
print(list_2)
print(list_3)

[16, 25, 36]
[4]
26

In [125]:
map(lambda x:x**2,[1,2,3])

In [88]:
print(type(list_1))
print(type(list_2))
print(type(list_3))

<class 'list'>
<class 'list'>
<class 'int'>

In [58]:
#a=reduce(multiply,[4,5,6])