## Python - Assignment 2

_**TODO: Print the Total no of IT employees and Non IT employees for the companies provided in the list **_

In [2]:

Employee_count = {'Infosys': 75000, 'TCS': 175000, 'RBS': 50000, 'CTS': 150000, 'HDFC': 25000, 'Times': 10000, 'Wipro': 125000}
IT_Companies = ['DTCC', 'CTS', 'Accenture', 'TCS', 'HCL', 'Wipro']

# Your solution has to be so robust that it should work if we are changing the dictionary

_**TODO: Nearest Square **_

_** Write a Control statement that finds the largest square number less than an integer limit and stores it in a variable nearestsquare **_

In [3]:
# For example, if limit is 40, your code should set the nearest_square to 36

_**TODO: Write a loop with a break statement to create a string, Consolidated News, that is exactly 140 characters long. You should create the new string by adding headlines from the headlines list, inserting a space in between each headline. If necessary, truncate the last headline in the middle so that the new news string is exactly 140 characters long**_

In [5]:

headlines = ["India beats Australia by 3 wkts",
             "Heavy rains expected in TN",
             "Petrol prices hit lifetime high rates at 97.5 rps/litre",
             "75% increase in demand for the Data Scientists",
             "Kerala once again high alert over Floods",
             "With 95%, TN records the highest voting % till date in the country"]

_**TODO: Create the following output with out loops **_

_ Feel free to Surf the internet wherever required _

In [7]:
Technology = ["Seleninum", "AWS", "Java", "Data Science", "Machine Learning"]
Candidates_Count = [60, 25, 15, 30, 20]

# Expected Output
# {'Seleninum': 60, 'AWS': 25, 'Java': 15, 'Data Science': 30, 'Machine Learning': 20} # Same Order is not necessary