__Types of python to run__

1. Immediate mode - cmd- python
2. Script mode - python file.py
3. IDE - Integrated Developement environment- spyder, pycharm, jupyter notebook

In [8]:
#single line Comment

""" Multiple line comment """
#print("Hi")

' Multiple line comment '

In [11]:
#Keywords

#break = 2

#Identifiers

#Identifier is a name given to entities like class, functions, variables
a = 4

a1 = 34

# 1. can be in alphabet with range of a to z
# 2. can be in range of A to Z
# 3. should not start with digits
# 4. should not be keywords
# 5. cannot use special symbols !,@,#,$,%
#global = 5 

#a$ = 7

SyntaxError: invalid syntax (<ipython-input-11-add8f96670bc>, line 19)

In [2]:
#Statements

a = 1 #assigngment statement


#Multiple Statement
a = 1 + 2 +3 + 4 + \
    2 + 4 +\
    3 + 4
    
print(a)

a = (2 + 5 + 3 + 3 +
     2 + 5 + 6
     + 4)
print(a)


#Multiple Assigngment statement
a = 54; b = 43; c = 42;

print(a,b,c)

a, b, c = 2,4.2,"Hello"

print(a,b,c)

a =b = c= "same data"

print(a,b,c)

23
30
54 43 42
2 4.2 Hello
same data same data same data

## Operators

__Arithmetic Operators__

In [2]:
# + Addition
# - Subtraction
# * Multiplication
# / Division
# % Mod (the remainder after dividing)
# ** Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
# // Divides and rounds down to the nearest intege

In [6]:
#print(2+1*2/2)

__Variables and Assignment Operators__

In [7]:
mv_population = 74728
mv_population

74728

In [10]:
x = 3
y = 4
z = 5

#x, y, z = 3, 4, 5

In [11]:

#1. Only use ordinary letters, numbers and underscores in your variable names. 
#They can’t have spaces, and need to start with a letter or underscore.

#2. You can’t use reserved words or built-in identifiers

#3.The pythonic way to name variables is to use all lowercase letters and underscores to separate words.

In [18]:
#Alternative Assignment method
mv_population+=1
mv_population

74733

# Data Types
__Integers and Floats__

_There are two Python data types that could be used for numeric values:_

_int - for integer values_                                              
_float - for decimal or floating point values_

In [21]:
a=100 #int data type
b=101.5 #Float data type

__Booleans__


_True_                                              
_False_

In [22]:
5 < 3

False

__Booleans, Comparison Operators, and Logical Operators__

_There are 6 comparison operators that are common to see in order to obtain a bool value_

_3 logical operators you need to be familiar with:_

_True_                                              
_False_

In [24]:
print(5 < 3 or 5 == 5)
print(5 < 3 and 5 == 5)

True
False

## __Strings__

In [25]:
my_string = 'this is a string!'
my_string

'this is a string!'

In [30]:
my_string1 = 'this is a string\'s!'
my_string1

"this is a string's!"

In [44]:
#String

#String is a immutable

s = "Hi, How are you?"
print (s)

s = "Hello, how are you?"
print (s)

print (s[4])

#s[4] = "s"  # Immutable

Hi, How are you?
Hello, how are you?
o

In [26]:
first_word = 'Hello'
second_word = 'There'
print(first_word + second_word)

HelloThere

In [28]:
first_word[0] # Indexing can be done in String

'H'

In [31]:
#The len() function
len(my_string)

19

### __String Methods__

_Methods actually are functions that are called using dot notation. For example, lower() is a string method that can be used like this, on a string called "sample string": sample_string.lower()_

In [36]:
print(my_string.islower())

print(my_string.count('a'))

True
1

In [38]:
#One important string method: format()

# Example 1
print("Earth has {} planets".format(9))

# Example 2
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Earth has 9 planets
Does your dog bite?

In [40]:
#Another important string method: split()
#A basic split method:
new_str = "The man stepped over the moon."
new_str.split()

['The', 'man', 'stepped', 'over', 'the', 'moon.']

In [41]:
#Here the separator is space, and the maxsplit argument is set to 3.
new_str.split(' ', 3)

['The', 'man', 'stepped', 'over the moon.']

### __Type And Type Conversion__

In [32]:
type(my_string)

str

In [33]:
a=101.5
type(a)

float

In [35]:
b=int(a)
print(b)
print(type(b))

101
<class 'int'>

In [48]:
a = 5
print("a is of type", type(a))

a = 4.35
print("a is of type", type(a))

a = "Hello"
print("a is of type", type(a))

a = 1+2j
print("a is of type", type(a))

isinstance("dcfsd",str)

('a is of type', <type 'int'>)
('a is of type', <type 'float'>)
('a is of type', <type 'str'>)
('a is of type', <type 'complex'>)

True

### __Data structures__

_Lists_                                                                                                                         
_Tuples_                                                                                                                         
_Sets_                                                                                                                         
_Dictionaries_

### __Lists__

_lists are one of the most common and basic data structures in Python_                                                           
_list is created with square brackets_                                                            
_Lists can contain any mix and match of the data types you have seen so far_                                                     _Lists are Mutable_

In [46]:
list_of_random_things = [1, 3.4, 'a string', True]
list_of_random_things

[1, 3.4, 'a string', True]

In [47]:
type(list_of_random_things)

list

In [49]:
#Slicing in List
#When using slicing, it is important to remember that the lower index is inclusive and the upper index is exclusive
list_of_random_things[1:2]

[3.4]

In [50]:
#Mutability

my_lst = [1, 2, 3, 4, 5]
print(my_lst)

my_lst[0] = 'one'
print(my_lst)

[1, 2, 3, 4, 5]
['one', 2, 3, 4, 5]

### __Membership Operators__

_in and not in_

In [51]:
Countries = ['India', 'Pakistan', "US",'China','Canada']
Countries

['India', 'Pakistan', 'US', 'China', 'Canada']

In [53]:
'India' in Countries

True

### __Functions for Lists__

In [56]:
#Try these functions
#len()
#max()
#min()
#sorted()

### __List Methods__

In [57]:
#join method

new_str = "-".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore-aft-starboard-port

In [58]:
#append method

letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

## __Tuples__

_Tuple is a data type for immutable ordered sequences of elements_

In [1]:
location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: 13.4125
Longitude: 103.866667

In [3]:
# 3 variables are assigned from the content of the tuple dimensions. This is called tuple unpacking
dimensions = 52, 40, 100
length, width, height = dimensions

# We can use tuple unpacking to assign the information from a tuple into multiple variables 
# without having to access them one by one and make multiple assignment statements

## __Sets__

_A set is a data type for mutable unordered collections of unique elements_                                                     
_One application of a set is to quickly remove duplicates from a list_

In [4]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [5]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

False
{'watermelon', 'grapefruit', 'banana', 'orange', 'apple'}
watermelon
{'grapefruit', 'banana', 'orange', 'apple'}

_Methods like union, intersection,difference are easy to perform in sets_

## __Dictionaries __

_A dictionary is a mutable data type that stores mappings of unique keys to values_

In [9]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

2

In [11]:
# Checking the values in Dict 
print("carbon" in elements) 
print(elements.get("dilithium"))

True
None

## Identity Operators
### Keyword	Operator

_is	evaluates if both sides have the same identity_                                                                             
_is not	evaluates if both sides have different identities_

In [12]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

## __Compound Data Structures __

_We can include containers in other containers to create compound data structures. _

In [13]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [14]:
helium = elements["helium"]  # get the helium dictionary
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight

In [15]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary
print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

## Syntax Errors and Exceptions


_There are two types of errors to look out for_

_Exceptions - Exception is a problem that occurs when the code is running_                                                      
_Syntax - Syntax Error is a problem detected when Python checks the code before it runs it_

In [35]:
# syntax error
while True print('Hello world')

SyntaxError: invalid syntax (<ipython-input-35-1c6d0b91777a>, line 2)

In [36]:
# Exceptions
print(5/0)

ZeroDivisionError: division by zero

In [3]:
try:
    5/0
except ZeroDivisionError as err:
    print('Handling run-time error:', err)

Handling run-time error: division by zero

In [2]:
def test():
    a= int(input('Please enter first number: '))
    b= int(input('Please enter second number: '))
    return a/b

In [26]:
test()

Please enter first number: 10
Please enter second number: 5

2.0

In [3]:
try:
    print(test())
    print('Working fine')
except ZeroDivisionError as err:
    print('Please enter a non zero number:', err)
    print(test())

Please enter first number: 10
Please enter second number: 0
Please enter a non zero number: division by zero
Please enter first number: 10
Please enter second number: 2
5.0