_**TODO: Select the three most recent dates from this list using list slicing notation**_

In [6]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 

#print(eclipse_dates)

_**TODO: Print the list and max value from the three (name of the list which has maximum value and its value **_

In [ ]:
# Code should work if the values are changed
a = [1, 5, 8, 15, 150]
b = [2, 6, 9, 10, 50, 75]
c = [100, 20, 30, 18, 25 ]

_**TODO: **_

In [ ]:
names = ["Carol", "Albert", "Ben", "Donna"]

# Expected output 
# Carol-Albert and Ben-Donna

_**TODO: Print the numbers present in 1 and missing in 2 and viceversa **_                                                        
_** Also the common numbers **_

In [ ]:
numbers_1 = [1, 2, 6, 3, 1, 1, 6]
numbers_2 = [2, 5, 8, 7, 3, 1, 6]

_**TODO: Tax Purchase
Depending on where an individual is from we need to tax them appropriately. The states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively. Use this information to take the amount of a purchase and the corresponding state to assure that they are taxed by the right amount**_

In [ ]:
#The states of CA, MN and NY have taxes of 7.5%, 9.5%, and 8.9% respectively
# Based on state and purchase amount print the tax value(Hints: Get the inputs via input command from the user) 

state = 
purchase_amount =

#tax = purchase_amount*tax_amount(Formula)

_**TODO: Write a for loop that iterates over the names list to create a usernames list. To create a username for each name, make everything lowercase and replace spaces with underscores**_

In [29]:
# Input
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

# Expected list 
usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

_**TODO: For the above problem modify the same list names without creating a new list**_

_**TODO: Create a dictionary with the word count**_

In [35]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

# Expected result
#{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

_**TODO: Iterate through the dictionary **_

In [ ]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

# Expected output:

# Actor: Jerry Seinfeld    Role: Jerry Seinfeld
# Actor: Julia Louis-Dreyfus    Role: Elaine Benes
# Actor: Jason Alexander    Role: George Costanza
# Actor: Michael Richards    Role: Cosmo Kramer